<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" href="./public/images/logo.png">
    <script src="javascript/script.js" defer></script>
    <title>Discover</title>
</head>
<body>

    <%- include('./partials/navigation.ejs') %>
    <main>
        <div id="welkom">
         <h1>Welkom terug <%= name %> </h1>
         <p id="intro">
             Welkom bij de biotechnische vacaturenbank. Bekijk vacatures, of zoek in de zoekbalk naar specifieke vacatures. </p>
             <p id="intro">Weet je nog niet waar je naar opzoek bent? Doe de DISC test! Een persoonlijkheidstest waar karaktereigenschappen uitkomen, zodat je vacatures kan bekijken die bij jou passen.</p>
             <button id="disc"><a href="/disc">DISC persoonlijkheidstest</a></button>
        </div>
         <h2 id="titelV">Uitgelichte vacatures</h2>
     <% if(data.length) { %>
         <div class="containerVacatures">
             <ul id="vacatures">
                 <% for(let i = 0; i < data.length; i++) { %>
                 <section>
                     <li class="vacatures-li">
                         <h2> <%= data[i].title %> </h2>
                         <p> <%= data[i].introduction %> </p>
                           <ul>
                               <li> <%= data[i].location %></li>
                               <li> <%= data[i].businessSectors %></li>
                           </ul>
                           <p> <%= data[i].study %> </p>
                           <h3>Kernwoorden</h3>
                           <ul>
                               <li><%= data[i].keyword1 %></li>
                               <li><%= data[i].keyword2 %></li>
                               <li><%= data[i].keyword3 %></li>
                           </ul>
                         <button><a href="/<%= data[i].id %>"> Meer lezen...</a></button>
                     </li>
                 </section>
                 <% } %>
             </ul>
             <% } else { %>
                <p id="geen-resultaat">
                    Wij hebben helaas geen vacature gevonden met deze zoekopdracht.
                    Probeer het alsjeblieft opnieuw!
                </p>
                <% } %>
    </main>
   <%- include('./partials/foot') %>