<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/profileStyle.css">
    <link rel="icon" href="./public/images/logo.png"> 
    <title>Document</title>
</head>
<body>

        <%- include('./partials/navigation.ejs') %>
        <main>
            <main>
                <div>
                    <h1>Hoi, <%= name %></h1>
                    <article id="disc">
                        <h2> Opzoek naar jouw perfecte baan? </h2>
                        <p>
                            Doe de DISC-test om erachter te komen welke kwaliteiten en eigenschappen bij jou
                            passen, en vind zo de perfecte baan voor jou! Misschien ontdek jij een nieuwe
                            kant en carrière van jezelf!
                        </p>
                        <button id="discBtn">
                            <a href="/disc">Begin de DISC test</a>
                        </button>
                </div>
                    </article>
    
            <article id='favorites'>
            <div>
                <h2>Jouw opgeslagen vacatures:</h2>
            </div>   
            <% if(data.length) { %>
                <ul id="vacatures">
                    <% for(let i = 0; i < data.length; i++) { %>
                    <section>
                        <li class="vacatures-li">
                            <h2> <%= data[i].title %> </h2>
                            <p> <%= data[i].introduction %> </p>
                              <ul>
                                  <li> <%= data[i].location %></li>
                                  <li> <%= data[i].businessSectors %></li>
                              </ul>
                              <p> <%= data[i].study %> </p>
                              <h3>Kernwoorden</h3>
                              <ul>
                                  <li><%= data[i].keyword1 %></li>
                                  <li><%= data[i].keyword2 %></li>
                                  <li><%= data[i].keyword3 %></li>
                              </ul>
                              <form method="POST" action="/profile">
                                  <button name="delete" type="submit" value="<%= data[i].id %>">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30.849" height="30.848" viewBox="0 0 30.849 30.848">
                                        <path id="Icon_metro-cross" data-name="Icon metro-cross" d="M33.138,26.711h0l-9.358-9.358,9.358-9.358h0a.966.966,0,0,0,0-1.363L28.717,2.21a.967.967,0,0,0-1.363,0h0L18,11.568,8.637,2.21h0a.966.966,0,0,0-1.363,0L2.852,6.631a.966.966,0,0,0,0,1.363h0l9.358,9.358L2.852,26.711h0a.966.966,0,0,0,0,1.363l4.421,4.421a.966.966,0,0,0,1.363,0h0L18,23.136l9.358,9.358h0a.966.966,0,0,0,1.363,0l4.421-4.421a.966.966,0,0,0,0-1.363Z" transform="translate(-2.571 -1.928)" fill="#fa3333"/>
                                      </svg>                                      
                                  </button>
                              </form>
                            <button><a href="<%= data[i].id %>"> Meer lezen...</a></button>
                        </li>
                    </section>
                    <% } %>
                </ul>
            <% } else { %>
                <p id="geen-resultaat">
                    Je hebt momenteel nog geen vacatures opgeslagen. Doe de DISC test of
                    zoek zelf naar jouw perfecte baan!
                    <a href="/">Browse vacatures</a>
                </p>
                
                <% } %>
            </article>
           
        </main>

    <%- include('./partials/foot') %>